@import '~office-ui-fabric-react/dist/sass/References.scss';


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

.alvFinMan {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .layout1 {
    display: flex;
    padding: 20px 30px 20px 30px;

    // white-space: nowrap;
    // overflow: 'hidden';
    // text-overflow: 'ellipsis';

    h3 {
      margin-top: 0px;
    }
    .titleList{
      width: 250px;
      padding: 0px 30px;

      li {
        white-space: nowrap;
        overflow: 'hidden';
        text-overflow: 'ellipsis';
        width: 100%;
      }

    }

    
    .docsList{
      width: 300px;
      margin: 0px 30px;
      
      li {
        white-space: nowrap;
        overflow: 'hidden';
        text-overflow: 'ellipsis';
        width: 100%;
        margin: 0px 30px 5px 30px; //use margin so there is a gap between the cursor:pointers
        cursor: pointer;
      }

      .supsLI {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: 'hidden';
        text-overflow: 'ellipsis';
        max-width: 99%;
        // padding-top: 15px;
        i {
          list-style-type: none;
          padding-right: 15px;
        }  
      }
    }

    .leftFilter {

        color: darkblue;
        margin: 0px 30px 5px 0px; //use margin so there is a gap between the cursor:pointers
        list-style-type: square;
        cursor: pointer;
    }
  
    .isSelected {
      font-weight: 600;
      text-decoration: underline;
      color: darkred;
      list-style-type: circle;

    }

    
  // .newsVertical {
  //   display: flex;
  //   padding: 20px 20px 20px 10px;
  //   flex-direction: row;

  //   // white-space: nowrap;
  //   // overflow: 'hidden';
  //   // text-overflow: 'ellipsis';

  //   .titleList{
  //     width: 300px;
  //     padding: 0px 0px;

  //     li {
  //       white-space: nowrap;
  //       overflow: 'hidden';
  //       text-overflow: 'ellipsis';
  //       width: 100%;
  //     }

  //   }

  //   .docsList{
  //     width: 300px;
  //     padding: 0px 30px;

  //     h3 {
  //       margin-top: 0px;
  //     }
      
  //     li {
  //       white-space: nowrap;
  //       overflow: 'hidden';
  //       text-overflow: 'ellipsis';
  //       width: 100%;
  //     }
  //   }

  //   .leftFilter {

  //       color: darkblue;
  //       padding: 0px 30px 5px 0px;
  //       list-style-type: square;
  //   }
  
  //   .isSelected {
  //     font-weight: 600;
  //     text-decoration: underline;
  //     color: darkred;
  //     list-style-type: circle;

  //   }
  // }


  .container {
    max-width: 1500px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    // @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  // .title {
  //   @include ms-font-xl;
  //   @include ms-fontColor-white;
  // }

  // .subTitle {
  //   @include ms-font-l;
  //   @include ms-fontColor-white;
  // }

  // .description {
  //   @include ms-font-l;
  //   @include ms-fontColor-white;
  // }

  
  .padLeft20 {
    padding-left: 20px;
  }
  
  .showSearch {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    transform:scaleY(1);
    transform-origin:top;
    height:50px;
    //max-height: 100px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .hideSearch {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    height:0;
    overflow: hidden;
    padding-bottom: 0px;
    transform:scaleY(0);
  }

  .floatRight {
    //width: 1200px;
    //max-width: 500px;
    display: flex;
    justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: center;
  }

  .floatLeft {
    //width: 1200px;
    //max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: center;

    //These did nothing to prevent the left icons from shifting on hover.
    //border: 0px;
    //margin: 0px;
    //padding: 0px;
  }

  .searchContainer {
    //width: 1200px;
    //max-width: 500px;
    //width: 100%;
    display: flex;
    //justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: left;
    vertical-align: middle;
    //These did nothing to prevent the left icons from shifting on hover.
    //border: 0px;
    //margin: 0px;
    //padding: 0px;
  }

  .searchBox {
    //@extend .floatLeft;
    width: 100%;
    //padding-bottom: 20px;
  }

  .searchStatus {
    @extend .floatRight;
    display: inline-block;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 60px;
    //text-align: right;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}





.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

}



.supPanelHeader {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    
  }

  .dateStamps {
    display: flex;
    flex-direction: row;

    div:nth-child(1) { //This is the Timestamp Label ie Created/Modified
      color: 'darkblue';
      width: 60px;
      font-weight: 600;
      padding-right: 15px;
    }

    div:nth-child(2) { //This is the Timestamp
      color: 'darkblue';
      width: 150px;
      padding-left: 20px;
    }

    div:nth-child(3) { //This is the person
      color: 'darkblue';
      width: 150px;
      padding-left: 20px;
    }

  }
}