@import '~office-ui-fabric-react/dist/sass/References.scss';

.searchPage {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  
  .button {
    // Our button
    padding: 10px; //Added this to give padding around buttons

    text-decoration: none;
    height: 22px;
  
    // Primary Button
    min-width: 80px;
    background-color: $ms-color-white;
    border-color: $ms-color-white;
    color: $ms-color-themePrimary;
  
    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 10px 16px;
  
    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  
  .button.isSelected {
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
  }

  // .layout1 {
  //   display: flex;
  //   padding: 20px 30px 20px 30px;

  //   // white-space: nowrap;
  //   // overflow: 'hidden';
  //   // text-overflow: 'ellipsis';

  //   .titleList{
  //     width: 250px;
  //     padding: 0px 30px;
  //     li {
  //       white-space: nowrap;
  //       overflow: 'hidden';
  //       text-overflow: 'ellipsis';
  //       width: 100%;
  //     }

  //   }

  //   .docsList{
  //     width: 300px;
  //     padding: 0px 30px;
  //     li {
  //       white-space: nowrap;
  //       overflow: 'hidden';
  //       text-overflow: 'ellipsis';
  //       width: 100%;
  //     }
  //   }

  //   .leftFilter {

  //       color: darkblue;
  //       padding: 0px 30px 5px 0px;
  //       list-style-type: square;
  //   }
  
  //   .isSelected {
  //     font-weight: 600;
  //     text-decoration: underline;
  //     color: darkred;
  //     list-style-type: circle;

  //   }

  .topSearch {
    background: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding: 10px;
    .button {
      padding: 7px;
      height: 16px;
      white-space: nowrap;
      overflow: 'hidden';
      text-overflow: 'ellipsis';
      max-width: 50px;
    }
  }

  .leftSearch {
    background: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 130px;
    // padding: 10px;

    .button {
      text-align: left;
      padding: 7px;
      height: 16px;
      white-space: nowrap;
      overflow: 'hidden';
      text-overflow: 'ellipsis';
      max-width: 50px;

    }
  }
  
  .typeSearch {
    background: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 130px;
    margin-right: 10px; //Added to keep right side of buttons aligned with topSearch last button
    .button {
      text-align: left;
      padding: 7px;
      height: 16px;
      white-space: nowrap;
      overflow: 'hidden';
      text-overflow: 'ellipsis';
      max-width: 30px;
    }
    .cmdButton i {
      /* font-size: 20px; */
      font-weight: normal;
      font-style: normal;
      padding: 7px;
      margin-right: 9px;
      border-radius: 5px;

      // background-color: $ms-color-themePrimary;
      // border-color: $ms-color-themePrimary;
      // color: $ms-color-white;

      background-color: $ms-color-white;
      border-color: $ms-color-white;
      color: $ms-color-themePrimary;

      font-size: large;
      margin: 5px;

      cursor: pointer;
    }
      
    .cmdButton.isSelected i{
      background-color: $ms-color-themePrimary;
      border-color: $ms-color-themePrimary;
      color: $ms-color-white;
    }
  }

  .itemsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .listItems {
    max-width: calc( 100% - 200px );
    .listItem {

      //This is the same styling that should be in accountItem
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: 'hidden';
      text-overflow: 'ellipsis';
      max-width: 99%;
      padding-top: 15px;
      i {
        padding-right: 15px;
      }

      .accountDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: 'hidden';
        text-overflow: 'ellipsis';
      }
      .accountRow1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: 'hidden';
        text-overflow: 'ellipsis';

        div {
          white-space: nowrap;
          overflow: 'hidden';
          text-overflow: 'ellipsis';
        }
        div:nth-child(1) { //This is the Account Title (Number)
          color: 'darkblue';
          width: 75px;
          font-weight: 600;
          padding-right: 15px;
        }
        div:nth-child(2) { //This is the Account ALGroup
          color: 'darkred';
          width: 225px;
          font-weight: 600;
        }
        div:nth-child(3) { //This is the Account SubCategory
          color: 'darkgreen';
          width: 150px;
          font-weight: 600;
        }
        div:nth-child(4) { //This is the Account Name
          color: 'darkvoilet';
          width: calc(100%-450px);
          font-weight: 600;
        }
      }
      .accountRow2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: 'hidden';
      }
    }
  }

  .container {
    max-width: 1500px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    // @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  // .title {
  //   @include ms-font-xl;
  //   @include ms-fontColor-white;
  // }

  // .subTitle {
  //   @include ms-font-l;
  //   @include ms-fontColor-white;
  // }

  // .description {
  //   @include ms-font-l;
  //   @include ms-fontColor-white;
  // }

  
  .padLeft20 {
    padding-left: 20px;
  }
  
  .showSearch {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    transform:scaleY(1);
    transform-origin:top;
    height:50px;
    //max-height: 100px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .hideSearch {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    height:0;
    overflow: hidden;
    padding-bottom: 0px;
    transform:scaleY(0);
  }

  .floatRight {
    //width: 1200px;
    //max-width: 500px;
    display: flex;
    justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: center;
  }

  .floatLeft {
    //width: 1200px;
    //max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: center;

    //These did nothing to prevent the left icons from shifting on hover.
    //border: 0px;
    //margin: 0px;
    //padding: 0px;
  }

  .searchContainer {
    //width: 1200px;
    //max-width: 500px;
    //width: 100%;
    display: flex;
    //justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: left;
    vertical-align: middle;
    //These did nothing to prevent the left icons from shifting on hover.
    //border: 0px;
    //margin: 0px;
    padding: 10px;
  }

  .searchBox {
    //@extend .floatLeft;
    width: 100%;
    //padding-bottom: 20px;
  }

  .searchStatus {
    @extend .floatRight;
    display: inline-block;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 60px;
    //text-align: right;
  }

  
  
  .links {
    a {
      text-decoration: none;
      color: "[theme:link, default:#03787c]";
      color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only
  
      &:hover {
        text-decoration: underline;
        color: "[theme:linkHovered, default: #014446]";
        color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
      }
    }
  }

}

