
@import '~office-ui-fabric-react/dist/sass/References.scss';

.itemPane {

    width: 100%;

}

.properties {

    h3 {

    }

    li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 7px;

        div:nth-child(1) { //Property Name
            // font-weight: 300;
            width: 150px;

        }
        div:nth-child(2) { //Property Value
            font-weight: bolder;
            color: darkblue;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
    
    li:hover {
        background-color: lightgray;
    }
}